<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>Bluetooth Remote</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./assets/node_modules/angular-material/angular-material.css">
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
</head>

<body ng-controller="homeController" ng-cloak>

   <div layout="column" layout-padding layout-fill>
      <md-switch ng-model="state.switch1" aria-label="Switch 1" ng-change="switchClicked(state)">
       	Light 1: {{ state.switch1 == true ? "On" : "Off" }}
     	</md-switch>

   	<md-switch ng-model="state.switch2" aria-label="Switch 2" ng-change="switchClicked(state)">
       	Light 2: {{ state.switch2 == true ? "On" : "Off" }}
     	</md-switch>

   	<md-switch ng-model="state.switch3" aria-label="Switch 3" ng-change="switchClicked(state)">
       	Light 3: {{ state.switch3 == true ? "On" : "Off" }}
     	</md-switch>

     	<md-switch ng-model="state.switch4" aria-label="Switch 4" ng-change="switchClicked(state)">
     		Light 4: {{ state.switch4 == true ? "On" : "Off" }}
   	</md-switch>
   </div>

</body>

<!-- Importing socket library -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<!--It doesnt matter what the static path in the server is,
this path is fixed and is served directly from the server socket module-->

<!-- Importing Angular library -->
<script type="text/javascript" src="./assets/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="./assets/node_modules/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Importing Angular Material Library -->
<script type="text/javascript" src="./assets/node_modules/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./assets/node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="./assets/node_modules/angular-material/angular-material.js"></script>

<!-- Importing main-custom library -->
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/modules.js"></script>

<!-- Importing sub-custom(home) library -->
<script type="text/javascript" src="./app/components/home/controller.js"></script>
<script type="text/javascript" src="./app/components/home/service.js"></script>
</html>
